@import '../../styles/mixins.scss';


.company {
  background: #110d34;
  position: relative;
  padding-block: 7rem;
  min-height: 100vh;

  h4 {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }

  h3, p {
    color: #fff;
    }

    &__companies
    {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-inline: auto;
      width: fit-content;
      margin-block: 2.5rem 5rem;;
      gap: 4rem;
      flex-wrap: wrap;
      img {
          opacity: 0.5;
          width: 8%;
          height: 120px;
        }
    }



    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      gap: 16rem;

      @include respond(tab-land) {
        gap: 10rem;
      }

      @include respond(tab-port) {
        grid-template-columns: 1fr;
      }
    }

    &__left {
      position: relative;

      @include respond(tab-port) {
        width: 70%;
        margin-inline: auto;
      }

      .img-1 {
        width: 100%;
        height: 400px;
      }

      .img-2 {
        position: absolute;
        padding: 1rem;
        border-radius: 50%;
        top: 10%;
        right: 7%;

        img {
          width: 4rem;

          @include respond(phone) {
            width: 1.5rem;
          }
        }
      }

      .img-3 {
        position: absolute;
        padding: 1rem;
        border-radius: 12%;
        bottom: 0%;
            left: 7%;

        img {
          width: 4rem;

          @include respond(phone) {
            width: 1.5rem;
          }

        }
      }

    }

    &__points-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 3rem;
    }

    &__point{
      background-color: #fff;
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 1rem;
      margin-top: 2rem;
      border-radius: 2rem;

      &__point-text {
        font-size: 25px;
        font-weight: 400;
        color: #212123;
      }

      &__point-icon {
        width: 35px;
        height: 35px;
        color: #fff;
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: 500;
        align-items: center;
      }
    }

    &__bg {
      z-index: inherit;
      width: 100%;
      height: 100%;
      opacity: 0.05;
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;

    }
 }